

body{
    background-image: url('susshi.png');
    margin: 0;
    padding: 0;
}


.jjj{
    color: #FFFFFF;
    margin-top: 36px;
    margin-left: 36px;
}

h1{
    color: #FFFFFF;
    margin-left: 36px;
    margin-top: 750px;
    font-size: 70px;
}
h2{
    color: #FFFFFF;
    margin-left: 36px;
    font-size: 25px;
}





